<div nz-row nzType="flex" nzJustify="center">
  <nz-card style="background:whitesmoke">
    <form nz-form novalidate #validateForm="ngForm" class="register-form" (ngSubmit)="submitForm(validateForm.value)">
      <nz-form-item nzType="flex" nzJustify="center">
        <h3>Register</h3>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input [ngModel] name="fullname" #fullname="ngModel" placeholder="Fullname" required />
          </nz-input-group>
          <nz-form-explain *ngIf="fullname?.invalid && fullname?.dirty">
            <div *ngIf="fullname?.errors?.required">
              Fullname is required!
            </div>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <nz-input-group nzPrefixIcon="mail">
            <input type="text" nz-input [ngModel] name="mail" #mail="ngModel" placeholder="Email" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
          </nz-input-group>
          <nz-form-explain *ngIf="mail?.invalid && mail?.dirty">
            <div *ngIf="mail?.errors?.required">
              Email is required!
            </div>
            <div *ngIf="mail?.errors?.pattern">
              The input is not valid E-mail! <br />Example: abc@gmail.com
            </div>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <nz-option-group nzPrefixIcon="apartment">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a group" [ngModel]="selectedValue" name="group"
              #group="ngModel" placeholder="Group" required>
              <nz-option *ngFor="let group of groups" [nzLabel]="group.name" [nzValue]="{ id: group.id }"></nz-option>
            </nz-select>
          </nz-option-group>
          <nz-form-explain *ngIf="group?.invalid && group?.dirty">
            <div *ngIf="group?.errors?.required">
              Group is required!
            </div>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input ngModel name="password" #password="ngModel"
              placeholder="Password" required />
          </nz-input-group>
          <nz-form-explain *ngIf="password?.invalid && password?.dirty">
            <div *ngIf="password?.errors?.required">
              Password is required!
            </div>
          </nz-form-explain>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"
              nz-tooltip nzTooltipTitle="prompt text"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <nz-input-group nzPrefixIcon="phone">
            <input type="text" nz-input [ngModel] name="phone" #phone="ngModel" placeholder="Phone Number" required
              pattern="\d{8,11}" />
          </nz-input-group>
          <nz-form-explain *ngIf="phone?.invalid && phone?.dirty">
            <div *ngIf="phone?.errors?.required">
              Phone is required!
            </div>
            <div *ngIf="phone?.errors?.pattern">
              The input is not valid Phone!
            </div>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzType="flex" nzJustify="center">
        <button nz-button class="form-button" [nzType]="'primary'" [disabled]="validateForm.invalid">
          Register
        </button>
        <div>Already have an account?<a nz-button nzType="link" [routerLink]="['/login']">Login</a></div>
      </nz-form-item>
    </form>
  </nz-card>
</div>
