<div nz-row nzType="flex" nzJustify="center">
  <nz-spin [nzSpinning]="isSpinning">
    <nz-card style="background:whitesmoke">
      <form nz-form novalidate #validateForm="ngForm" class="login-form" (ngSubmit)="submitForm(validateForm.value)">
        <nz-form-item nzType="flex" nzJustify="center">
          <h3>Login</h3>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="mail">
              <input type="text" nz-input [ngModel] name="mail" #mail="ngModel" placeholder="Email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            </nz-input-group>
            <nz-form-explain *ngIf="mail?.invalid && mail?.dirty">
              <div *ngIf="mail?.errors?.required">
                Email is required!
              </div>
              <div *ngIf="mail?.errors?.pattern">
                The input is not valid E-mail! <br />Example: abc@gmail.com
              </div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input ngModel name="password" #password="ngModel"
                placeholder="Password" required />
            </nz-input-group>
            <nz-form-explain *ngIf="password?.invalid && password?.dirty">
              <div *ngIf="password?.errors?.required">
                Password is required!
              </div>
            </nz-form-explain>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzType="flex" nzJustify="center">
          <nz-form-control>
            <label nz-checkbox ngModel name="remember">
              <span>Remember me</span>
            </label>
            <a class="login-form-forgot" nz-button nzType="link" [routerLink]="['/forgot-password']">Forgot password</a>
            <button nz-button class="form-button" [nzType]="'primary'" [disabled]="validateForm.invalid">
              Login
            </button>
          </nz-form-control>
          <div>Don't have an account?<a nz-button nzType="link" [routerLink]="['/register']">Register</a>
          </div>
        </nz-form-item>
      </form>
    </nz-card>
  </nz-spin>

</div>
