<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="{{user.avata}}" alt="profile image" />
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">{{ user.fullname }}</p>
          <p class="designation">{{ user.mail }}</p>
        </div>
      </a>
    </li>
    <!-- Đường kẻ -->
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/dashboard']">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Booking Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/book-type']">Booking Type</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/user-book']">Booking Item</a>
          </li>
        </ul>
      </div>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/user-book']">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">User Booking Management</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/book-item']">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Items Management</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/book-type']">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Booking Type Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/users']">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Users Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/roles']">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Roles Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/post']">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Posts Management</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <i class="menu-icon typcn typcn-bell"></i>
        <span class="menu-title">Tables</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/icons/font-awesome.html">
        <i class="menu-icon typcn typcn-user-outline"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#auth"
        aria-expanded="false"
        aria-controls="auth"
      >
        <i class="menu-icon typcn typcn-document-add"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/blank-page.html">
              Blank Page
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/login.html"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/register.html">
              Register
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
          </li>
        </ul>
      </div>
    </li> -->
  </ul>
</nav>
