nz-content{
    background-color: #fff;
}
.inner-content {
  background: #fff;
  padding: 24px 48px;
  min-height: 280px;
}
.content-left .body-left{
    padding: 50px;
}
.content-left .body-left .avatar{
    width: 40%;
    float: left;
}
.content-left .body-left .avatar .uploadimg{
    position: absolute;
    top: 180px;
    left: 55.7%;
}
.content-left .body-left .info{
    margin: 20px;
    width: 50%;
    float: right;
}
.content-left .body-left input{
    font-size: large;
    height: 38px;
}
.content-left .body-left input:disabled{
    pointer-events: none;
}
.content-left .body-left .info .changepass{
    margin-top: 15px;
    background-color: #d8dce6;
}