<app-header></app-header>
<nz-layout>
  <nz-content>
    <div class="inner-content">
      <div class="content-left">
        <nz-tabset>
          <nz-tab nzTitle="My Profile" (click)="reset_change_password($event)">
            <div *ngIf="userClient" class="container body-left nz-row">
              <form nz-form>
                <div nz-col [nzSm]="10" [nzXs]="24" style="text-align: center;">
                  <!-- Avatar user -->
                  <nz-form-item>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                      <label for="imageUpload" style="height: 200px; border-radius: 50%">
                        <nz-avatar nzIcon="user" [nzSize]="180" nzSrc="{{imageUrl}}" aria-hidden="true"
                          style="border: 5px solid #D8DCE6; width: auto; height: auto; text-align: center; margin-top: 15px;">
                        </nz-avatar>
                      </label>
                    </nz-form-control>
                  </nz-form-item>
                  <!-- upload avatar -->
                  <nz-form-item>
                    <nz-form-control>
                      <form [formGroup]="UploadImageForm">
                        <div class="group-gap">
                          <div class="avatar-upload">
                            <div class="avatar-edit">
                              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                style="display: none;" (change)="changeFile($event)" />
                            </div>
                            <div class="avatar-preview">
                              <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <!-- Info User -->
                <div nz-col [nzSm]="10" [nzXs]="24">
                  <nz-form-item style="margin-bottom: 0px">
                    <nz-form-label style="margin: 8px 0px 0px 0px">Full Name</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzPrefix]="PrefixIconUser">
                        <input nz-input [(ngModel)]="userClient.fullname" name="fullname" />
                      </nz-input-group>
                      <ng-template #PrefixIconUser>
                        <i nz-icon nzType="user"></i>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item style="margin-bottom: 0px">
                    <nz-form-label style="margin: 8px 0px 0px 0px">Email</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzPrefix]="PrefixIconMail">
                        <input nz-input [(ngModel)]="userClient.mail" name="mail" [disabled]="true" />
                      </nz-input-group>
                      <ng-template #PrefixIconMail>
                        <i nz-icon nzType="mail"></i>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item style="margin-bottom: 0px">
                    <nz-form-label style="margin: 8px 0px 0px 0px">Group</nz-form-label>
                    <nz-select style="width: 100%" [(ngModel)]="userClient.group" name="group_name"
                      [compareWith]="compareFn" nzSize="large">
                      <nz-option *ngFor="let group of groups" [nzLabel]="group.name" [nzValue]="{ id: group.id }">
                      </nz-option>
                    </nz-select>
                  </nz-form-item>
                  <nz-form-item style="margin-bottom: 0px">
                    <nz-form-label style="margin: 8px 0px 0px 0px">Phone Number</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzPrefix]="PrefixIconphone">
                        <input type="text" nz-input [(ngModel)]="userClient.phone" name="phone" />
                      </nz-input-group>
                      <ng-template #PrefixIconphone>
                        <i nz-icon nzType="phone"></i>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item style="text-align: center;">
                    <nz-form-control [nzSpan]="9">
                      <button nz-button nzType="primary" (click)="updateUser()"
                        style="width: -webkit-fill-available; margin-top: 2rem;">
                        Save
                      </button>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </form>
            </div>
          </nz-tab>
          <!-- change password -->
          <nz-tab nzTitle="Change Password">
            <div class="container changepass" style="margin-top: 20px">
              <h3 style="text-align: center; line-height: 60px">Change Password</h3>
              <div class="changepassbody" style="padding: 0 20px 20px 20px">
                <form nz-form [formGroup]="change_password_Form"
                  (ngSubmit)="submitForm($event,change_password_Form.value)">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Current password</nz-form-label>
                    <div>
                      <nz-form-control [nzSpan]="12">
                        <input type="password" (blur)="checkPassword()" [(ngModel)]="currentpass"
                          formControlName="current_password" nz-input />
                        <nz-form-explain *ngIf="change_password_Form.get('current_password')?.dirty">
                          <ng-container *ngIf="change_password_Form.get('current_password')?.hasError('required')">
                            Please! Enter your current password
                          </ng-container>
                        </nz-form-explain>
                      </nz-form-control>
                    </div>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>New password</nz-form-label>
                    <div>
                      <nz-form-control [nzSpan]="12" nzHasFeedback>
                        <input nz-input type="password" formControlName="new_password" [(ngModel)]="new_password" />
                        <nz-form-explain
                          *ngIf="change_password_Form.get('new_password')?.dirty && change_password_Form.get('new_password')?.hasError('required')">
                          Please! Enter your new password!
                        </nz-form-explain>
                      </nz-form-control>
                    </div>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Confirm password</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback>
                      <input nz-input type="password" formControlName="confirm_password" />
                      <nz-form-explain
                        *ngIf="change_password_Form.get('confirm_password')?.dirty && change_password_Form.get('confirm_password')?.errors">
                        <ng-container *ngIf="change_password_Form.get('confirm_password')?.hasError('required')">
                          Please! confirm your new password!
                        </ng-container>
                        <ng-container
                          *ngIf="change_password_Form.get('confirm_password')?.hasError('confirm_password')">
                          Password is inconsistent!
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control [nzSpan]="13">
                      <button nz-button nzType="primary" [disabled]="!change_password_Form.valid"
                        style="float: right; cursor: pointer" (click)="change_password()">Change</button>
                    </nz-form-control>
                  </nz-form-item>
                </form>
              </div>
            </div>
          </nz-tab>
          <!-- History -->
          <nz-tab nzTitle="History" nz-row>
            <nz-table #historyTable [nzData]="bookinghistory">
              <thead>
                <tr>
                  <th>Create Date</th>
                  <th >Room</th>
                  <th>
                    Room Type</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Time From</th>
                  <th>Time To</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of historyTable.data">
                  <td>{{data.createTime|date:'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{data.bookItem.name}}</td>
                  <td>{{data.bookItem.bookType.name}}</td>
                  <td>{{data.title}}</td>
                  <td>{{data.status}}</td>
                  <td>{{data.timeFrom|date:'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{ data.timeTo|date:'dd/MM/yyyy HH:mm'}}</td>
                </tr>
              </tbody>
            </nz-table>
            <!-- <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="border-right: 1px solid white;" (click)="sort('sort-mail')">Create Date <i id="sort-mail"
                        class="fa fa-sort"></i></th>
                    <th scope="col" style="border-right: 1px solid white;" (click)="sort('sort-fullname')">Room <i
                        id="sort-fullname" class="fa fa-sort"></i></th>
                    <th scope="col" style="border-right: 1px solid white;">Room Type</th>
                    <th scope="col" style="border-right: 1px solid white;">Tittle</th>
                    <th scope="col" style="border-right: 1px solid white;">Status</th>
                    <th scope="col" style="border-right: 1px solid white;">Time From</th>
                    <th scope="col" style="border-right: 1px solid white;">Time To</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let history of bookinghistory">
                    <td> {{ history.createTime|date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ history.bookItem.name }}</td>
                    <td>{{ history.bookItem.bookType.name }}</td>
                    <td>{{ history.title }}</td>
                    <td>{{ history.status }}</td>
                    <td>{{ history.timeFrom|date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ history.timeTo|date:'dd/MM/yyyy HH:mm' }}</td>
  
                     <td *ngIf="user.status === 'PENDING'">
                      <span class="badge badge-primary" style="font-size: 13px;">{{ user.status }}</span>
                    </td>
                    <td *ngIf="user.status === 'ACTIVE'">
                      <span class="badge badge-success" style="font-size: 13px;">{{ user.status }}</span>
                    </td>
                    <td *ngIf="user.status === 'INACTIVE'">
                      <span class="badge badge-danger" style="font-size: 13px;">{{ user.status }}</span>
                    </td>
                  
                  </tr>
                </tbody>
              </table>
              <img *ngIf="users.length == 0" src="https://cdn.dribbble.com/users/1449854/screenshots/4136663/no_data_found.png"
                class="cangiua">
            </div> -->
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-content>
</nz-layout>