<div class="col-md-12 col-sm-12 col-xs-12">
  <h4>
    Booking Types Management
  </h4>
</div>

<div style="margin-top: 10px;" class="card mb-4">
  <div class="card-header py-3">
    <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="status_filter"
      (change)="filterByAll1()">
      <option value="Status">Status</option>
      <option value="ACTIVE">ACTIVE</option>
      <option value="INACTIVE">INACTIVE</option>
    </select>
    <button id="reset" class="btn btn-primary btn-sm" (click)="resetTable()" data-toggle="tooltip"
      data-placement="bottom" title="Reset">
      <i class="fa fa-undo"></i>
    </button>
    <button id="add" type="button" class="btn btn-primary btn-sm" style="margin-left: 10px; float: right"
      (click)="open(addForm)" data-toggle="tooltip" data-placement="bottom" title="Add">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzParagraph]="{ rows: 10 }">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col" style="border-right: 1px solid white; width: 10%;">ID </th>
              <th scope="col" style="border-right: 1px solid white;width: 20%" (click)="sort('sort-name')">Name <i
                  id="sort-name" class="fa fa-sort"></i></th>
              <th scope="col" style="border-right: 1px solid white;width: 40%">Description </th>
              <th scope="col" style="border-right: 1px solid white;width: 15%">Status </th>
              <th scope="col" style="border-right: 1px solid white;width: 15%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bookingType of bookingTypes| paginate: { itemsPerPage: 5, currentPage: p }">
              <td> {{ bookingType.id }}</td>
              <td>{{ bookingType.name }}</td>
              <td>{{ bookingType.description|lengthText:35}}</td>
              <td *ngIf="bookingType.status === 'ACTIVE'" class="text-center">
                <span class="badge badge-success" style="font-size: 13px;">{{ bookingType.status }}</span>
              </td>
              <td *ngIf="bookingType.status === 'INACTIVE'" class="text-center">
                <span class="badge badge-danger" style="font-size: 13px;">{{ bookingType.status }}</span>
              </td>
              <td class="text-center">
                <button id="edit" class="btn btn-primary btn-sm" (click)="open(editForm)" data-toggle="tooltip"
                  data-placement="bottom" title="Edit">
                  <i class="fas fa-edit"></i>
                </button>
                <button id="delete" class="btn btn-primary btn-sm" (click)="deleteBookingType(bookingType.id)"
                  data-toggle="tooltip" data-placement="bottom" title="Delete">
                  <i class="fas fa-power-off"></i>
                </button>
              </td>
              <ng-template #editForm let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Edit Booking Type</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.close()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <form id="form-add" class="forms-sample" #formEditBookingType="ngForm">
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">ID</label>
                        <input type="text" class="form-control" id="id1" [ngModel]="bookingType.id" name="id1" disabled>
                        <input type="text" class="form-control" id="id" [ngModel]="bookingType.id" name="id" hidden>
                      </div>

                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="name" [ngModel]="bookingType.name" name="name"
                          #name="ngModel" required>
                        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" style="color: red;">
                          <div *ngIf="name?.errors?.required">
                            Name is required.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Status</label>
                        <div class="form-group row text-center">
                          <div class="custom-control custom-radio col-6">
                            <input type="radio" class="custom-control-input" id="defaultInline2"
                              [ngModel]="bookingType.status" name="status" value="ACTIVE">
                            <label style="line-height: unset;" class="custom-control-label"
                              for="defaultInline2">Active</label>
                          </div>
                          <div class="custom-control custom-radio col-6">
                            <input type="radio" class="custom-control-input" id="defaultInline3"
                              [ngModel]="bookingType.status" name="status" value="INACTIVE">
                            <label style="line-height: unset;" class="custom-control-label"
                              for="defaultInline3">Inactive</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label style="font-weight: bold" for="description">Description</label>
                        <textarea class="form-control" rows="5" id="description" [ngModel]="bookingType.description"
                          name="description"></textarea>
                      </div>
                      <button id="accept-add" type="submit" class="btn btn-primary mr-2"
                        [disabled]="formEditBookingType.invalid" (click)="editBookingType(formEditBookingType.value)"
                        (click)="modal.close()"><i class="fa fa-edit"></i>Edit</button>
                    </form>
                  </div>
                </div>
              </ng-template>
            </tr>
          </tbody>
        </table>
        <img *ngIf="bookingTypes.length == 0"
          src="https://cdn.dribbble.com/users/1449854/screenshots/4136663/no_data_found.png" class="cangiua">
      </div>
      <div class="d-flex justify-content-end p-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </nz-skeleton>
  </div>
</div>

<ng-template #addForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Booking Type</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <form id="form-add" class="forms-sample" #formAddBookingType="ngForm">
        <div class="form-group">
          <label style="font-weight: bold" for="exampleInputName1">Name</label>
          <input type="text" class="form-control" id="name" ngModel name="name" #name="ngModel" required>
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" style="color: red;">
            <div *ngIf="name?.errors?.required">
              Name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label style="font-weight: bold" for="description">Description</label>
          <textarea class="form-control" rows="5" id="description" ngModel name="description"></textarea>
        </div>
        <button id="accept-add" type="submit" class="btn btn-primary mr-2" [disabled]="formAddBookingType.invalid"
          (click)="addBookingType(formAddBookingType.value)" (click)="modal.close()"><i
            class="fa fa-plus"></i>Add</button>
      </form>
    </div>
  </div>
</ng-template>