<div class="col-md-12 col-sm-12 col-xs-12">
  <h4>
    Roles Management
  </h4>
</div>

<div style="margin-top: 10px;" class="card mb-4">
  <div class="card-header py-3">
    <button id="add" type="button" class="btn btn-primary btn-sm" style="margin-left: 10px; float: right;"
      (click)="open(addForm)" data-toggle="tooltip" data-placement="bottom" title="Add">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzParagraph]="{ rows: 10 }">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col" style="border-right: 1px solid white; width: 10%">ID </th>
              <th scope="col" style="border-right: 1px solid white; width: 70%;" (click)="sort('sort-name')">Name <i
                  id="sort-name" class="fa fa-sort"></i></th>
              <th scope="col" style="border-right: 1px solid white; width: 20%;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles| paginate: { itemsPerPage: 5, currentPage: p }">
              <td> {{ role.id }}</td>
              <td>{{ role.name }}</td>
              <td class="text-center">
                <button id="edit" class="btn btn-primary btn-sm" (click)="open(editForm)" data-toggle="tooltip"
                  data-placement="bottom" title="Edit">
                  <i class="fas fa-edit"></i>
                </button>
                <button id="delete" class="btn btn-primary btn-sm" (click)="deleteRole(role.id)" data-toggle="tooltip"
                  data-placement="bottom" title="Delete">
                  <i class="fas fa-power-off"></i>
                </button>
              </td>

              <ng-template #editForm let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Edit Role</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.close()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <form id="form-add" class="forms-sample" #formAddRole="ngForm">
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">ID</label>
                        <input type="text" class="form-control" id="id1" [ngModel]="role.id" name="id1" disabled>
                        <input type="text" class="form-control" id="id" [ngModel]="role.id" name="id" hidden>
                      </div>

                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="name" [ngModel]="role.name" name="name" required>
                        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" style="color: red;">
                          <div *ngIf="name?.errors?.required">
                            Name is required.
                          </div>
                        </div>
                      </div>

                      <button id="accept-add" type="submit" class="btn btn-primary mr-2"
                        [disabled]="formAddRole.invalid" (click)="editRole(formAddRole.value)"
                        (click)="modal.close()"><i class="fa fa-plus"></i>Edit</button>
                    </form>
                  </div>
                </div>
              </ng-template>
            </tr>
          </tbody>
        </table>
        <img *ngIf="roles.length == 0"
          src="https://cdn.dribbble.com/users/1449854/screenshots/4136663/no_data_found.png" class="cangiua">
      </div>
      <div class="d-flex justify-content-end p-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </nz-skeleton>
  </div>
</div>

<ng-template #addForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Role</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <form id="form-add" class="forms-sample" #formAddUser="ngForm">
        <div class="form-group">
          <label style="font-weight: bold" for="exampleInputName1">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="role.name" name="name" required
            #name="ngModel">
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" style="color: red;">
            <div *ngIf="name?.errors?.required">
              Name is required.
            </div>
          </div>
        </div>

        <button id="accept-add" type="submit" class="btn btn-primary mr-2" [disabled]="formAddUser.invalid"
          (click)="addRole(formAddUser.value)" (click)="modal.close()"><i class="fa fa-plus"></i>Add</button>
      </form>
    </div>
  </div>
</ng-template>
