<!-- Nội dung -->
<!-- Modal 1 -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="resetForm()" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <form id="form-add" class="forms-sample" enctype="multipart/form-data" (submit)="onSubmit(formCreateItem);"
          #formCreateItem="ngForm">
          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="bookItem.name" name="name" required
              (keyup)="validate('name','alert-name')" (blur)="validate('name','alert-name')">
            <div id="alert-name" class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputEmail3">Book Type</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="booktype_form" name="bookTypeName">
              <option *ngFor="let bookType of listBookType" value="{{bookType.name}}">
                {{bookType.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label style="font-weight: bold" for="exampleFormControlSelect1">Status</label>
            <div class="form-group row text-center">
              <div class="custom-control custom-radio col-6">
                <input type="radio" class="custom-control-input" id="defaultInline1" name="status" value="ACTIVE">
                <label style="line-height: unset;" class="custom-control-label" for="defaultInline1">Active</label>
              </div>

              <div class="custom-control custom-radio col-6">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="status" value="INACTIVE">
                <label style="line-height: unset;" class="custom-control-label" for="defaultInline2">Inactive</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label style="font-weight: bold" for="exampleTextarea1">Description</label>
            <textarea class="form-control" id="description" rows="2" [(ngModel)]="bookItem.description"
              name="description" (keyup)="validate('description','alert-description')"
              (blur)="validate('description','alert-description')"></textarea>
            <div id="alert-description" style="color:green; font-size: 11.2px;">Có thể bỏ trống trường này</div>
          </div>
          <button id="add-accept" type="submit" class="btn btn-primary" (click)="createBookItem(formCreateItem)"
            (click)="modal.close()"><i class="fa fa-plus"></i>Add</button>
        </form>
      </div>
    </form>
  </div>
</ng-template>
<!-- Modal 1 -->

<!-- Modal 2 -->
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="resetForm()" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <form id="form-add" class="forms-sample" enctype="multipart/form-data" (submit)="onSubmit(formCreateItem);"
          #formCreateItem="ngForm">
          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="bookItem.name" name="name" required
              (keyup)="validate('name','alert-name')" (blur)="validate('name','alert-name')">
            <div id="alert-name" class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputEmail3">Book Type</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="booktype_form" name="bookTypeName">
              <option *ngFor="let bookType of listBookType" value="{{bookType.name}}">
                {{bookType.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label style="font-weight: bold" for="exampleFormControlSelect1">Status</label>
            <div class="form-group row text-center">
              <div class="custom-control custom-radio col-6">
                <input type="radio" class="custom-control-input" id="defaultInline1" name="status" value="ACTIVE">
                <label style="line-height: unset;" class="custom-control-label" for="defaultInline1">Active</label>
              </div>

              <div class="custom-control custom-radio col-6">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="status" value="INACTIVE">
                <label style="line-height: unset;" class="custom-control-label" for="defaultInline2">Inactive</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label style="font-weight: bold" for="exampleTextarea1">Description</label>
            <textarea class="form-control" id="description" rows="2" [(ngModel)]="bookItem.description"
              name="description" (keyup)="validate('description','alert-description')"
              (blur)="validate('description','alert-description')"></textarea>
            <div id="alert-description" style="color:green; font-size: 11.2px;">Có thể bỏ trống trường này</div>
          </div>
          <button id="add-accept" type="submit" class="btn btn-primary" (click)="updateBookItem(formCreateItem)"
            (click)="modal.close()"><i class="fas fa-edit"></i>Edit</button>
        </form>
      </div>
    </form>
  </div>
</ng-template>
<!-- Modal 2 -->

<!-- <hr>
<select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
  <option [ngValue]="1">1 items per page</option>
  <option [ngValue]="2">2 items per page</option>
  <option [ngValue]="4">4 items per page</option>
  <option [ngValue]="6">6 items per page</option>
</select> -->

<div class="col-md-12 col-sm-12 col-xs-12">
  <h4>
    Items Management
    <!-- <small> Booking Room</small> -->
  </h4>
</div>

<div style="margin-top: 10px;" class="card mb-4">
  <div class="card-header py-3">
    <!-- BookType -->
    <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="booktype_filter"
      (change)="filterByAll1()">
      <option value="Book Type">Book Type</option>
      <option *ngFor="let booktype of listBookType" value="{{booktype.name}}">{{booktype.name}}</option>
    </select>
    <!-- Status-->
    <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="status_filter"
      (change)="filterByAll1()">
      <option value="Status">Status</option>
      <!-- <option value="PENDING">PENDING</option> -->
      <option value="ACTIVE">ACTIVE</option>
      <option value="INACTIVE">INACTIVE</option>
    </select>
    <button id="reset" class="btn btn-primary btn-sm" (click)="resetTable()" data-toggle="tooltip"
      data-placement="bottom" title="Reset">
      <i class="fa fa-undo"></i>
    </button>
    <button id="add" type="button" class="btn btn-primary btn-sm" style="margin-left: 10px;"
      (click)="openFormAdd(content1)" data-toggle="tooltip" data-placement="bottom" title="Add">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" style="border-right: 1px solid white;">ID</th>
            <th scope="col" style="border-right: 1px solid white;" (click)="sort('sort-name')">Name <i id="sort-name"
                class="fa fa-sort"></i></th>
            <th scope="col" style="border-right: 1px solid white;">Description</th>
            <th scope="col" style="border-right: 1px solid white;">Book Type</th>
            <!-- <th scope="col">Create By</th>
            <th scope="col">Update By</th>
            <th scope="col">Create Time</th>
            <th scope="col">Update Time</th> -->
            <th scope="col" style="border-right: 1px solid white;">Status</th>
            <th scope="col" style="border-right: 1px solid white;">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bookItem of items">
            <td>{{ bookItem.id }}</td>
            <td>{{ bookItem.name }}</td>
            <td>{{ bookItem.description | lengthText:35}}</td>
            <td>{{ bookItem.bookType.name }}</td>
            <!-- <td>{{ bookItem.createBy.name }}</td>
            <td>{{ bookItem.updateBy.name }}</td>
            <td>{{ bookItem.createTime }}</td>
            <td>{{ bookItem.updateTime }}</td> -->
            <td *ngIf="bookItem.status === 'PENDING'">
              <span class="badge badge-primary" style="font-size: 13px;">{{ bookItem.status }}</span>
            </td>
            <td *ngIf="bookItem.status === 'ACTIVE'">
              <span class="badge badge-success" style="font-size: 13px;">{{ bookItem.status }}</span>
            </td>
            <td *ngIf="bookItem.status === 'INACTIVE'">
              <span class="badge badge-danger" style="font-size: 13px;">{{ bookItem.status }}</span>
            </td>
            <td>
              <button id="edit" class="btn btn-primary btn-sm" (click)="openFormEdit(content2, bookItem)"
                data-toggle="tooltip" data-placement="bottom" title="Edit">
                <i class="fas fa-edit"></i>
              </button>
              <button id="delete" class="btn btn-primary btn-sm" (click)="deleteBookItem(bookItem)"
                data-toggle="tooltip" data-placement="bottom" title="Delete">
                <i class="fas fa-power-off"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <img *ngIf="listBookItem.length == 0"
        src="https://cdn.dribbble.com/users/1449854/screenshots/4136663/no_data_found.png" class="cangiua">
    </div>
    <div class="d-flex justify-content-end p-3">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
    </div>
  </div>
</div>

<!-- Hết nội dung -->

<router-outlet></router-outlet>