i[nz-icon] {
    font-size: 32px;
    color: #999;
  }
  .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
  
  [nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  table{
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
}

.card-header{
    border-bottom: 2px solid #ededed;
}

.card-body{
    margin-top: -18px;
}

table th{
    background-color: #4267b2;
    text-align: center;
    color: white; 
    border-right: 1px solid white;
}

table thead tr {
    border-bottom: 2px solid #ccc;
}

#edit{
  background-color: #019453; 
  border: hsl(153, 99%, 29%);
  height: 30px; 
  width: 30px;
  border-radius: 10%;
}

#delete{
  margin-left: 8px; 
  background-color:#cc0201; 
  border: #cc0201;
  height: 30px; 
  width: 30px;
  border-radius: 10%;
}

#add{
    margin-left: 10px; 
    background-color: #007bff; 
    border: #007bff;
    height: 38px; 
    width: 38px;
    border-radius: 10%;
    padding-bottom: 4.5px;
}

#reset{
    margin-left: 10px; 
    background-color: #337ab7; 
    border: #337ab7;
    height: 38px; 
    width: 38px;
    border-radius: 10%;
    padding-bottom: 4.5px;
}

i{
  color: white;
  font-size: 13px;
}

td button i{
  margin-left: -4px;
}

.cangiua{
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  /* width: 100%; */
  height: 500px;
}

.badge{
  font-size: 13px;
  height: 24px;
  width: 69.33px;
  line-height: 18px;
  color: black;
}

.modal-header{
  background-color: #4267b2;
}

.modal-header .modal-title{
  color: white;
}