<div class="col-md-12 col-sm-12 col-xs-12">
  <h4>
    Posts Management
  </h4>
</div>

<div style="margin-top: 10px;" class="card mb-4">
  <div class="card-header py-3">
    <button id="add" type="button" class="btn btn-primary btn-sm" style="margin-left: 10px; float: right;"
      data-toggle="tooltip" data-placement="bottom" title="Add">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzParagraph]="{ rows: 10 }">
      <div class="table-sroll">
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th scope="col" style="border-right: 1px solid white; width: 10%">ID </th>
              <th scope="col" style="border-right: 1px solid white; width: 10%">Image </th>
              <th scope="col" style="border-right: 1px solid white; width: 20%;" (click)="sort('sort-name')">Title <i
                  id="sort-name" class="fa fa-sort"></i></th>
              <th scope="col" style="border-right: 1px solid white; width: 30%">Content </th>
              <th scope="col" style="border-right: 1px solid white; width: 20%">Brief </th>
              <th scope="col" style="border-right: 1px solid white; width: 10%">Status </th>
              <th scope="col" style="border-right: 1px solid white; width: 10%">Author </th>
              <th scope="col" style="border-right: 1px solid white; width: 20%;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts| paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{ post.id }}</td>
              <td><img src="{{URL}}{{ post.image }}" class="image"></td>
              <td>{{ post.title | lengthText:20 }} </td>
              <td>{{ post.content | lengthText:20 }}</td>
              <td>{{ post.brief | lengthText:20 }}</td>
              <td>{{ post.status | lengthText:20 }}</td>
              <td>{{ post.author.fullname }}</td>
              <td class="text-center">
                <button id="edit" class="btn btn-primary btn-sm" data-toggle="tooltip"
                  data-placement="bottom" title="edit">
                  <i class="fas fa-edit"></i>
                </button>
                <button id="detail" class="btn btn-primary btn-sm" (click)="open(detailForm)" data-toggle="tooltip"
                  data-placement="bottom" title="detail">
                  <i class="far fa-file-alt"></i>
                </button>
                <button id="delete" class="btn btn-primary btn-sm" (click)="deletePost(post)" data-toggle="tooltip"
                  data-placement="bottom" title="Delete">
                  <i class="fas fa-power-off"></i>
                </button>
              </td>
              <!-- detail-start -->
              <ng-template #detailForm let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Detail</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.close()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <form id="form-add" class="forms-sample" #formDetailPost="ngForm">
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">ID</label>
                        <div>{{post.id}}</div>
                      </div>
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Image</label>
                        <div><img src="{{URL}}{{ post.image }}" class="image"></div>
                      </div>
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Title</label>
                        <div>{{post.title}}</div>
                      </div>
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Content</label>
                        <div>{{post.content}}</div>
                      </div>
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Brief</label>
                        <div>{{post.brief}}</div>
                      </div>
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Status</label>
                        <div>{{post.status}}</div>
                      </div>
                      <div class="form-group">
                        <label style="font-weight: bold" for="exampleInputName1">Author</label>
                        <div>{{post.author.fullname}}</div>
                      </div>
                      <button id="accept-add" type="submit" class="btn btn-primary mr-2"
                        [disabled]="formDetailPost.invalid" (click)="modal.close()"><i
                          class="fa fa-plus"></i>Exit</button>
                    </form>
                  </div>
                </div>
              </ng-template>
              <!-- detail-end -->
            </tr>
          </tbody>
        </table>
        <img *ngIf="posts.length == 0"
          src="https://cdn.dribbble.com/users/1449854/screenshots/4136663/no_data_found.png" class="cangiua">

      </div>
      <div class="d-flex justify-content-end p-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

    </nz-skeleton>
  </div>
</div>


<!-- Add form
<ng-template #addForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Role</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <form id="form-add" class="forms-sample" #formAddUser="ngForm">
        <div class="form-group">
          <label style="font-weight: bold" for="exampleInputName1">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="role.name" name="name" required
            #name="ngModel">
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" style="color: red;">
            <div *ngIf="name?.errors?.required">
              Name is required.
            </div>
          </div>
        </div>

        <button id="accept-add" type="submit" class="btn btn-primary mr-2" [disabled]="formAddUser.invalid"
          (click)="addRole(formAddUser.value)" (click)="modal.close()"><i class="fa fa-plus"></i>Add</button>
      </form>
    </div>
  </div>
</ng-template>
-->