.item-dashboard .card {
    border-radius: 8px;
    margin-bottom: 5px;
}

.item-dashboard .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.item-dashboard .card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.custom-select{
    font-size: 13px;
}
nz-header{
    background-color: rgb(161, 179, 238);
}
nz-content{
    background-color: #fff;
}
nz-layout{
    margin-top: 10px;
    background-color: #fff;
}
nz-card{
    margin-bottom: 8px;
}
nz-select {
    width: 25%;
    margin: 5px 20px;
}
nz-table{
    margin-bottom: 8px;
}
nz-collapse {
    width: 100%;
    margin: 10px auto;
}
nz-collapse-panel{
    width: 100%;
}
