<div class="col-lg-12 grid-margin sthetch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Dashboard</h4>
            <p class="card-description"></p>
            <div class="row item-dashboard">
                <!-- <div class="col-12 col-sm-6 col-md-6 col-xl-3">
          <div class="card text-left" style="background-color: antiquewhite">
            <div class="card-body">
              <h4 class="card-title">Member</h4>
              <div class="align-items-center">
                <div class="text-dark font-18 font-weight-bold d-flex justify-content-between align-items-center mb-0">
                  <div>All :</div>
                  <div> {{dashBoard.user}}</div>
                </div>
                <div class="text-danger d-flex justify-content-between align-items-center">
                  <div>Active :</div>
                  <span>{{dashBoard.userActive}}</span>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <nz-layout>
          <nz-header>
            <nz-range-picker [nzSize]="size" nzShowTime nzFormat="yyyy-MM-dd" [(ngModel)]="dateRange"
              (ngModelChange)="onChangeDate($event)">
            </nz-range-picker>
            <select class="custom-select" style="width: 178px; height: 32px; margin-left: 10px;" [(ngModel)]="selectGroup"
              (change)="onChangeGroup()">
              <option value="All Group">All Group</option>
              <option *ngFor="let group of groups" value="{{group.id}}">{{group.name}}</option>
            </select>
            <!-- <nz-select [(ngModel)]="selectGroup" nzAllowClear [nzPlaceHolder]="Group">
              <nz-option [nzLabel]="All Group" [nzValue]="'all'" (change)="onChangeGroup($event)"></nz-option>
              <nz-option *ngFor="let group of groups" [nzLabel]="group.name" [nzValue]="group"
                (change)="onChangeGroup($event)">
              </nz-option>
            </nz-select> -->
          </nz-header>
          <nz-layout>
            <nz-content>
              <div style="padding:30px;">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="8" *ngFor="let db of listDashboard">
                    <nz-card *ngIf="!db.bookType" nzTitle="User" [nzExtra]="userdb">
                      <p>Tổng : {{db.total}} (Người)</p>
                      <p>Vào : {{db.totalActive}} (Người)</p>
                      <p>Ra : {{db.totalInactive}} (Người)</p>
                    </nz-card>
                    <ng-template #userdb>
                      <a>(Người)</a>
                    </ng-template>
                    <nz-card *ngIf="db.bookType" nzTitle="{{db.bookType.name}}" [nzExtra]="booktype">
                      <p>Tổng đặt : {{db.totalHourse/60}} (giờ)</p>
                      <p>Tổng duyệt : {{db.totalHourseActive/60}} (giờ)</p>
                      <p>Từ chối : {{db.totalHourseInactive/60}} (giờ)</p>
                    </nz-card>
                    <ng-template #booktype>
                      <a>(Giờ)</a>
                    </ng-template>
                  </div>
                </div>
              </div>
            </nz-content>
            <nz-content>
              <nz-collapse [nzBordered]="false" *ngFor="let dashboard of listDashboard">
                <nz-collapse-panel *ngIf="dashboard.bookType" [nzHeader]="dashboard.bookType.name">
                  <nz-table #data nzBordered [nzData]="dashboard.list" nzSize="small" [nzPageSize]="3">
                    <thead>
                      <tr>
                        <th>Ngày đặt</th>
                        <th>Book Item</th>
                        <th>Ngày</th>
                        <th>Giờ</th>
                        <th>Từ</th>
                        <th>Đến</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data.data">
                        <td>{{item.createTime | date:'dd/MM/yyyy' }}</td>
                        <td>{{item.bookItem.name}}</td>
                        <td>{{item.bookingDate}}</td>
                        <td>{{item.hours/60}}</td>
                        <td>{{item.timeFrom | date:'HH:mm'}}</td>
                        <td>{{item.timeTo | date:'HH:mm'}}</td>
                        <td>{{item.status}}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                </nz-collapse-panel>
              </nz-collapse>
            </nz-content>
          </nz-layout>
        </nz-layout>
      </div>
    </div>
</div>