<app-header></app-header>
<div class="list-item">
  <nz-list 
    [nzDataSource]="posts" 
    [nzItemLayout]="'vertical'" 
    [nzRenderItem]="item" 
    [nzPagination]="pagination">
    <ng-template #item let-item>
      <nz-list-item 
        [nzExtra]="extra"
      >
        <nz-list-item-meta 
          [nzAvatar]="item.author.avata" 
          [nzTitle]="nzTitle" 
          [nzDescription]="item.brief"
        >
          <ng-template #nzTitle>
            <a [routerLink]="['/post-detail', item.id]" >{{ item.title }} ({{item.author.fullname}})</a>
          </ng-template>
        </nz-list-item-meta>
        <ng-template #extra>
          <img width="180" height="180" alt="logo" [src]="item.image" />
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalPage" (nzPageIndexChange)="loadData($event)"></nz-pagination>
    </ng-template>
  </nz-list>
</div>