<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <form nz-form novalidate #validateForm="ngForm" class="register-form" (ngSubmit)="submitForm(user)">
        <nz-form-item nzType="flex" nzJustify="center">
          <h3>View Profile</h3>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Emai</nz-form-label>
          <nz-form-control [nzSpan]="8">
            <nz-input-group nzPrefixIcon="mail">
              <input type="text" nz-input [(ngModel)]="user.mail" name="mail" [disabled]="true" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8">Full name</nz-form-label>
          <nz-form-control [nzSpan]="8" nzHasFeedback>
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input [(ngModel)]="user.fullname" name="fullname" #fullname="ngModel"
                placeholder="Fullname" required />
            </nz-input-group>
            <nz-form-explain *ngIf="fullname?.invalid && fullname?.dirty">
              <div *ngIf="fullname?.errors?.required">
                Fullname is required!
              </div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8">Phone</nz-form-label>
          <nz-form-control [nzSpan]="8" nzHasFeedback>
            <nz-input-group nzPrefixIcon="phone">
              <input type="text" nz-input [(ngModel)]="user.phone" name="phone" #phone="ngModel"
                placeholder="Phone Number" required pattern="\d{8,11}" />
            </nz-input-group>
            <nz-form-explain *ngIf="phone?.invalid && phone?.dirty">
              <div *ngIf="phone?.errors?.required">
                Phone is required!
              </div>
              <div *ngIf="phone?.errors?.pattern">
                The input is not valid Phone!
              </div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8">Group</nz-form-label>
          <nz-form-control [nzSpan]="8" nzHasFeedback>
            <nz-option-group>
              <nz-select nzAllowClear nzPlaceHolder="Choose a group" [(ngModel)]="user.group" [compareWith]="compareFn"
                name="group" #group="ngModel" required>
                <nz-option *ngFor="let group of groups" [nzLabel]="group.name" [nzValue]="{id:group.id}"></nz-option>
              </nz-select>
            </nz-option-group>
            <nz-form-explain *ngIf="group?.invalid && group?.dirty">
              <div *ngIf="group?.errors?.required">
                Group is required!
              </div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <input type="text" nz-input [(ngModel)]="user.id" name="id" #phone="ngModel" placeholder="Phone Number" required
          hidden />

        <nz-form-item nz-row nzType="flex" nzJustify="center">
          <nz-form-control>
            <button nz-button class="form-button" [nzType]="'primary'" [disabled]="validateForm.invalid">
              Save
            </button>
            <!-- <button nz-button nzType="default" style="background-color: #1E6F42; color: white; float: right;"
              (click)="exportToExcel()"><i nz-icon nzType="file-excel"></i>Export</button> -->
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
