<div class="form-group" style="margin:10px;height:38px">
  <label for="bookTypeSelect" style="height:36px; line-height:36px"
    >Select book type: &nbsp;&nbsp;
  </label>
  <select class="form-control" id="bookTypeSelect" style="width:150px">
    <!-- <option>1</option> -->
  </select>
</div>
<div #scheduler></div>
