<app-header></app-header>
<div class="post-detail row">
  <div class="avatar col-sm-2 col-md-2 col-lg-2">
    <div class="info-author">
      <nz-avatar [nzShape]="'square'" [nzSize]="120" [nzIcon]="'user'" nzSrc="{{post.author.avata}}">
      </nz-avatar>
      <div class="name-author">{{post.author.fullname}}</div>
    </div>
  </div>
  <div class="post-content col-sm-8 col-md-8 col-lg-8">
    <div class="title">
      <h1>
        {{post.title}}
      </h1>
      <h3>
        <i>{{post.brief}}</i>
      </h3>
    </div>
    <div class="content">
      {{post.content}}
    </div>
  </div>
</div>