.post-detail{
    margin-top: 20px auto;
    padding: 0;
    min-height: 800px;
}
.avatar{
    min-height: 100% auto;
    background-color: rgb(150, 148, 185);
}
.post-content{
    min-height: 100% auto;
    background-color: #fff;
}
.info-author{
    margin: 20px auto;
    width: 135px;
}
.name-author{
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
}
.post-content .title{
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
}
.title h1{
    font-size: 2em;
}
.title h3{
    font-size: 1.5em;
}
.content{
    width: 89% auto;
    height: 100% auto;
    padding: 10px;
}