<div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
  <nz-card style="background:whitesmoke">
    <form nz-form novalidate #validateForm="ngForm" class="forgot-password-form"
      (ngSubmit)="submitForm(validateForm.value)">
      <nz-form-item nzType="flex" nzJustify="center" nzAlign="top">
        <h3>Forgot Password</h3>
      </nz-form-item>

      <h6>Please enter your email address. You will receive a link to create a new
        password via email.</h6>
      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <nz-input-group nzPrefixIcon="mail">
            <input type="text" nz-input [ngModel] name="mail" #mail="ngModel" placeholder="Email" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
          </nz-input-group>
          <nz-form-explain *ngIf="mail?.invalid && mail?.dirty">
            <div *ngIf="mail?.errors?.required">
              Email is required!
            </div>
            <div *ngIf="mail?.errors?.pattern">
              The input is not valid E-mail! <br />Example: abc@gmail.com
            </div>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button class="form-button" [nzType]="'primary'" [disabled]="validateForm.invalid">
            Submit
          </button>
        </nz-form-control>
      </nz-form-item>
      <a nz-button nzType="link" [routerLink]="['/login']"><i nz-icon [nzType]="'rollback'"></i>Quay lại</a>
    </form>
  </nz-card>
</div>
