<div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
  <nz-card style="background:whitesmoke">
    <form nz-form novalidate #validateForm="ngForm" class="forgot-password-form"
      (ngSubmit)="submitForm(validateForm.value)">
      <nz-form-item nzType="flex" nzJustify="center">
        <h3>Reset Password</h3>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input [(ngModel)]="user.password" name="newPass"
              #newpassword="ngModel" placeholder="New Password" required />
          </nz-input-group>
          <nz-form-explain *ngIf="newpassword?.invalid && newpassword?.dirty">
            <div *ngIf="newpassword?.errors?.required">
              Password is required!
            </div>
          </nz-form-explain>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"
              nz-tooltip nzTooltipTitle="prompt text"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input [type]="'password'" nz-input [ngModel] name="confirmPass" #confirmpassword="ngModel"
              placeholder="Confirm Password" required pattern="{{user.password}}" />
          </nz-input-group>
          <nz-form-explain *ngIf="confirmpassword?.invalid && confirmpassword?.dirty">
            <div *ngIf="confirmpassword?.errors?.required">
              Password is required!
            </div>
            <div *ngIf="confirmpassword?.errors?.pattern">
              Password is inconsistent! </div>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="form-button" [nzType]="'primary'" [disabled]="validateForm.invalid">
            Save
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
