<!-- Nội dung -->

<!-- Modal confirm delete -->

<!-- Modal confirm delete -->

<!-- Modal 1: Add User -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button type="button" class="close" aria-label="Close" (click)="resetForm()" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <form id="form-add" class="forms-sample" enctype="multipart/form-data" (submit)="onSubmit(formAddUser);"
          #formAddUser="ngForm">
          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Mail</label>
            <input type="text" class="form-control" id="mail" [(ngModel)]="user.mail" #txtEmail="ngModel" name="mail"
              required (keyup)="validate('mail','alert-mail',formAddUser.invalid)"
              (blur)="validate('mail','alert-mail',formAddUser.invalid)">
            <div id="alert-mail" class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" #txtPassword="ngModel"
              name="password" required (keyup)="validate('password','alert-password',formAddUser.invalid)"
              (blur)="validate('password','alert-password',formAddUser.invalid)">
            <div id="alert-password" class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Repeat Password</label>
            <input type="password" class="form-control" id="repeat-password" [(ngModel)]="repeatPassword"
              #txtRepeatPassword="ngModel" name="password" required
              (keyup)="validate('repeat-password','alert-repeat-password',formAddUser.invalid)"
              (blur)="validate('repeat-password','alert-repeat-password',formAddUser.invalid)">
            <div id="alert-repeat-password" class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Full Name</label>
            <input type="text" class="form-control" id="fullname" [(ngModel)]="user.fullname" #txtFullName="ngModel"
              name="fullname" required (keyup)="validate('fullname','alert-fullname',formAddUser.invalid)"
              (blur)="validate('fullname','alert-fullname',formAddUser.invalid)">
            <div id="alert-fullname" class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Role</label>
            <div class="form-group row text-center">
              <div class="custom-control custom-checkbox col-4">
                <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="status_member"
                  (change)="validateRole(formAddUser.invalid)" name="Member">
                <label style="line-height: unset;" class="custom-control-label" for="customCheck1">Member</label>
              </div>
              <div class="custom-control custom-checkbox col-4">
                <input type="checkbox" class="custom-control-input" id="customCheck2" [(ngModel)]="status_admin"
                  (change)="validateRole(formAddUser.invalid)" name="Admin">
                <label style="line-height: unset;" class="custom-control-label" for="customCheck2">Admin</label>
              </div>
              <div class="custom-control custom-checkbox col-4">
                <input type="checkbox" class="custom-control-input" id="customCheck3" [(ngModel)]="status_manager"
                  (change)="validateRole(formAddUser.invalid)" name="Manager">
                <label style="line-height: unset;" class="custom-control-label" for="customCheck3">Manager</label>
              </div>
            </div>
            <div id="alert-role" style="color: #DC3545; font-size: 11.2px;"></div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputEmail3">Group</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="group_user" name="groupName">
              <option *ngFor="let group of listGroups" value="{{group.name}}">{{group.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Phone</label>
            <input type="text" class="form-control" id="phone" [(ngModel)]="user.phone" #txtRepeatPassword="ngModel"
              name="phone" required (keyup)="validate('phone','alert-phone', formAddUser.invalid)"
              (blur)="validate('phone','alert-phone', formAddUser.invalid)">
            <div id="alert-phone" class="invalid-feedback"></div>
          </div>

          <button id="accept-add" type="submit" class="btn btn-primary mr-2" [disabled]="formAddUser.invalid"
            (click)="addUser(formAddUser)" (click)="modal.close()"><i class="fa fa-plus"></i>Add</button>
          <button (click)="resetForm()" id="reset-form" type="button" class="btn btn-light"> <i
              class="fa fa-undo"></i>Reset</button>
        </form>
      </div>
    </form>
  </div>
</ng-template>
<!-- Modal 1 -->

<!-- <form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form> -->

<!-- Modal 2: Edit User -->
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
    <button type="button" class="close" aria-label="Close" (click)="resetForm()" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <form id="form-add" class="forms-sample" enctype="multipart/form-data" (submit)="onSubmit(formAddUser);"
          #formAddUser="ngForm">
          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Mail</label>
            <input type="text" class="form-control" id="mail" [(ngModel)]="user.mail" #txtEmail="ngModel" name="mail"
              disabled>
            <div id="alert-mail" class="invalid-feedback"></div>
          </div>

          <!-- <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" #txtPassword="ngModel"
              name="password" required (keyup)="validate('password','alert-password',formAddUser.invalid)"
              (blur)="validate('password','alert-password',formAddUser.invalid)">
            <div id="alert-password" class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Repeat Password</label>
            <input type="password" class="form-control" id="repeat-password" [(ngModel)]="repeatPassword"
              #txtRepeatPassword="ngModel" name="password" required
              (keyup)="validate('repeat-password','alert-repeat-password',formAddUser.invalid)"
              (blur)="validate('repeat-password','alert-repeat-password',formAddUser.invalid)">
            <div id="alert-repeat-password" class="invalid-feedback"></div>
          </div> -->

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Full Name</label>
            <input type="text" class="form-control" id="fullname" [(ngModel)]="user.fullname" #txtFullName="ngModel"
              name="fullname" required (keyup)="validate('fullname','alert-fullname',formAddUser.invalid)"
              (blur)="validate('fullname','alert-fullname',formAddUser.invalid)">
            <div id="alert-fullname" class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Role</label>
            <div class="form-group row text-center">
              <div class="custom-control custom-checkbox col-4">
                <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="status_member"
                  (change)="validateRole(formAddUser.invalid)" name="Member">
                <label style="line-height: unset;" class="custom-control-label" for="customCheck1">Member</label>
              </div>
              <div class="custom-control custom-checkbox col-4">
                <input type="checkbox" class="custom-control-input" id="customCheck2" [(ngModel)]="status_admin"
                  (change)="validateRole(formAddUser.invalid)" name="Admin">
                <label style="line-height: unset;" class="custom-control-label" for="customCheck2">Admin</label>
              </div>
              <div class="custom-control custom-checkbox col-4">
                <input type="checkbox" class="custom-control-input" id="customCheck3" [(ngModel)]="status_manager"
                  (change)="validateRole(formAddUser.invalid)" name="Manager">
                <label style="line-height: unset;" class="custom-control-label" for="customCheck3">Manager</label>
              </div>
            </div>
            <div id="alert-role" style="color: #DC3545; font-size: 11.2px;"></div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Status</label>
            <div class="form-group row text-center">
              <div class="custom-control custom-radio col-4">
                <input type="radio" class="custom-control-input" id="defaultInline1" name="status" value="PENDING">
                <label style="line-height: unset;" class="custom-control-label" for="defaultInline1">Pending</label>
              </div>

              <div class="custom-control custom-radio col-4">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="status" value="ACTIVE">
                <label style="line-height: unset;" class="custom-control-label" for="defaultInline2">Active</label>
              </div>

              <div class="custom-control custom-radio col-4">
                <input type="radio" class="custom-control-input" id="defaultInline3" name="status" value="INACTIVE">
                <label style="line-height: unset;" class="custom-control-label" for="defaultInline3">Inactive</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputEmail3">Group</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="group_user" name="groupName">
              <option *ngFor="let group of listGroups" value="{{group.name}}">{{group.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label style="font-weight: bold" for="exampleInputName1">Phone</label>
            <input type="text" class="form-control" id="phone" [(ngModel)]="user.phone" #txtRepeatPassword="ngModel"
              name="phone" required (keyup)="validate('phone','alert-phone', formAddUser.invalid)"
              (blur)="validate('phone','alert-phone', formAddUser.invalid)">
            <div id="alert-phone" class="invalid-feedback"></div>
          </div>

          <button id="accept-add" type="submit" class="btn btn-primary mr-2" [disabled]="formAddUser.invalid"
            (click)="editUser(formAddUser)" (click)="modal.close()"><i class="fas fa-edit"></i>Edit</button>
          <button id="reset-form" type="button" class="btn btn-light" (click)="resetForm()"> <i
              class="fa fa-undo"></i>Reset</button>
        </form>
      </div>
    </form>
  </div>
</ng-template>
<!-- Modal 2 -->

<!-- <hr> -->
<div class="col-md-12 col-sm-12 col-xs-12">
  <h4>
    Users Management
    <!-- <small> Booking Room</small> -->
  </h4>
</div>
<!-- <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
  <option [ngValue]="1">1 items per page</option>
  <option [ngValue]="2">2 items per page</option>
  <option [ngValue]="4">4 items per page</option>
  <option [ngValue]="6">6 items per page</option>
</select> -->

<!-- Thêm class .shadow vào để làm nổi div-->
<div style="margin-top: 10px;" class="card mb-4">
  <div class="card-header py-3">
    <!-- Room Type -->
    <!-- <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="role_filter"
      (change)="filterByAll1()">
      <option value="Role">Role</option>
      <option *ngFor="let roomtype of LISTROOMTYPE" value="{{roomtype.name}}">{{roomtype.name}}</option>
    </select> -->
    <!-- Group -->
    <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="group_filter"
      (change)="filterByAll1()">
      <option value="Group">Group</option>
      <option *ngFor="let group of listGroups" value="{{group.name}}">{{group.name}}</option>
    </select>
    <!-- Status-->
    <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="status_filter"
      (change)="filterByAll1()">
      <option value="Status">Status</option>
      <option value="PENDING">PENDING</option>
      <option value="ACTIVE">ACTIVE</option>
      <option value="INACTIVE">INACTIVE</option>
    </select>
    <button id="reset" class="btn btn-primary btn-sm" (click)="resetTable()" data-toggle="tooltip"
      data-placement="bottom" title="Reset">
      <i class="fa fa-undo"></i>
    </button>
    <button id="add" type="button" class="btn btn-primary btn-sm" style="margin-left: 10px;"
      (click)="openFormAdd(content1)" data-toggle="tooltip" data-placement="bottom" title="Add">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" style="border-right: 1px solid white;" (click)="sort('sort-mail')">Mail <i id="sort-mail"
                class="fa fa-sort"></i></th>
            <th scope="col" style="border-right: 1px solid white;" (click)="sort('sort-fullname')">Full Name <i
                id="sort-fullname" class="fa fa-sort"></i></th>
            <th scope="col" style="border-right: 1px solid white;">Phone</th>
            <th scope="col" style="border-right: 1px solid white;">Group</th>
            <th scope="col" style="border-right: 1px solid white;">Status</th>
            <th scope="col" style="border-right: 1px solid white;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td> {{ user.mail }}</td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.group.name }}</td>
            <td *ngIf="user.status === 'PENDING'">
              <span class="badge badge-primary" style="font-size: 13px;">{{ user.status }}</span>
            </td>
            <td *ngIf="user.status === 'ACTIVE'">
              <span class="badge badge-success" style="font-size: 13px;">{{ user.status }}</span>
            </td>
            <td *ngIf="user.status === 'INACTIVE'">
              <span class="badge badge-danger" style="font-size: 13px;">{{ user.status }}</span>
            </td>
            <td>
              <button id="edit" class="btn btn-primary btn-sm" (click)="openFormEdit(content2, user)"
                data-toggle="tooltip" data-placement="bottom" title="Edit">
                <i class="fas fa-edit"></i>
              </button>
              <button id="delete" class="btn btn-primary btn-sm" (click)="deleteUser(user)" data-toggle="tooltip"
                data-placement="bottom" title="Delete">
                <i class="fas fa-power-off"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <img *ngIf="users.length == 0" src="https://cdn.dribbble.com/users/1449854/screenshots/4136663/no_data_found.png"
        class="cangiua">
    </div>
    <div class="d-flex justify-content-end p-3">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
    </div>
  </div>
</div>

<!-- Hết nội dung -->