<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <form nz-form novalidate #validateForm="ngForm" class="change-password-form">
        <nz-form-item nzType="flex" nzJustify="center">
          <h3>Change Password</h3>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Current Password</nz-form-label>
          <nz-form-control [nzSpan]="8">
            <nz-input-group nzPrefixIcon="lock">
              <input [type]="'password'" (blur)="checkPassword()" nz-input [(ngModel)]="oldPass" name="password"
                #password="ngModel" placeholder="Current Password" required />
            </nz-input-group>
            <nz-form-explain *ngIf="password?.dirty">
              <div *ngIf="password?.invalid && password?.errors?.required">
                Password is required!
              </div>
              <div *ngIf="!validPassword && !password?.errors?.required">
                <p style="color: red;">Password is wrong!</p>
              </div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8">New Password</nz-form-label>
          <nz-form-control [nzSpan]="8">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input [(ngModel)]="user.password" name="newPass"
                #newpassword="ngModel" placeholder="New Password" required />
            </nz-input-group>
            <nz-form-explain *ngIf="newpassword?.invalid && newpassword?.dirty">
              <div *ngIf="newpassword?.errors?.required">
                Password is required!
              </div>
            </nz-form-explain>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible" nz-tooltip nzTooltipTitle="prompt text"></i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8">Confirm Password</nz-form-label>
          <nz-form-control [nzSpan]="8">
            <nz-input-group nzPrefixIcon="lock">
              <input [type]="'password'" nz-input [ngModel] name="confirmPass" #confirmpassword="ngModel"
                placeholder="Confirm Password" required pattern="{{user.password}}" />
            </nz-input-group>
            <nz-form-explain *ngIf="confirmpassword?.invalid && confirmpassword?.dirty">
              <div *ngIf="confirmpassword?.errors?.required">
                Password is required!
              </div>
              <div *ngIf="confirmpassword?.errors?.pattern">
                Password is inconsistent! </div>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row nzType="flex" nzJustify="center">
          <nz-form-control>
            <div *ngIf="!validPassword; else elseBlock">
              <button nz-button class="form-button" [nzType]="'primary'" [disabled]="true">Save
              </button>
            </div>
            <ng-template #elseBlock><button nz-button class="form-button" [nzType]="'primary'"
                [disabled]="validateForm.invalid" (click)="changePassword(validateForm.value.newPass)">
                Save
              </button></ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
