<!-- <hr> -->
<div class="col-md-12 col-sm-12 col-xs-12">
  <h4>
    User Booking Management
    <!-- <small> User Book</small> -->
  </h4>
</div>
<!-- <select class="custom-select" style="width: auto;" [(ngModel)]="pageSize">
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="8">8 items per page</option>
          <option [ngValue]="10">10 items per page</option>
        </select> -->

<div style="margin-top: 10px;" class="card mb-4">
  <div class="card-header py-3">
    <!-- <input style="margin-left: 200px" type="date" name="bday" [(ngModel)]="datePick" (change)="getListBookingByWeek()"> -->
    <nz-date-picker nzSize="default" [(ngModel)]="datePick" (ngModelChange)="getListBookingByWeek()"></nz-date-picker>

    <select class="custom-select" style="width: auto; margin-left: 10px;" [(ngModel)]="typeDisplay"
      (change)="displayDataFromDate()">
      <option value="Week">Week</option>
      <option value="Day">Day</option>
      <option value="Month">Month</option>
    </select>

    <!-- Book Type -->
    <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="bookType"
      (change)="filterByAll1()">
      <option value="Book Type">Book Type</option>
      <option *ngFor="let bookT of LISTROOMTYPE" value="{{bookT.name}}">{{bookT.name}}</option>
    </select>
    <!-- Book Item -->
    <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="bookItem"
      (change)="filterByAll1()">
      <option value="Book Item">Book Item</option>
      <option *ngFor="let item of LISTROOM" value="{{item.name}}">{{item.name}}</option>
    </select>
    <!-- Status-->
    <select class="custom-select" style="width: 178px; margin-left: 10px;" [(ngModel)]="status"
      (change)="filterByAll1()">
      <option value="Status">Status</option>
      <option value="PENDING">PENDING</option>
      <option value="APPROVE">APPROVE</option>
      <option value="REJECT">REJECT</option>
    </select>
    <button id="reset" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Reset"
      (click)="resetTable()">
      <i class="fa fa-undo"></i>
    </button>
    <!-- <input name="date" [(ngModel)]="datePick" type="date" required (change)="getListBookingByWeek()"> -->
    <!-- <code>{{datePick | date: 'yyyy-MM-dd'}}</code> -->
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" style="border-right: 1px solid white;">Create Time</th>
            <th scope="col" style="border-right: 1px solid white;">Title</th>
            <th scope="col" style="border-right: 1px solid white;">User</th>
            <th scope="col" style="border-right: 1px solid white;">Room Name</th>
            <th scope="col" style="border-right: 1px solid white;">Group</th>
            <th scope="col" style="border-right: 1px solid white;">Time From</th>
            <th scope="col" style="border-right: 1px solid white;">Time To</th>
            <th scope="col" style="border-right: 1px solid white;">Status</th>
            <th scope="col" style="border-right: 1px solid white;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of listbooking">
            <td>{{ booking.createTime | date : 'd/M/yy HH:mm' }}</td>
            <td>{{ booking.title }}</td>
            <td>{{ booking.user.fullname }}</td>
            <td>{{ booking.bookItem.name }}</td>
            <td>{{ booking.user.group.name }}</td>
            <td>{{ booking.timeFrom | date : 'd/M/yy HH:mm'}}</td>
            <td>{{ booking.timeTo | date : 'd/M/yy HH:mm'}}</td>
            <td *ngIf="booking.status === 'PENDING'">
              <span class="badge badge-primary" style="font-size: 13px;">{{ booking.status }}</span>
            </td>
            <td *ngIf="booking.status === 'APPROVE'">
              <span class="badge badge-success" style="font-size: 13px;">{{ booking.status }}</span>
            </td>
            <td *ngIf="booking.status === 'REJECT'">
              <span class="badge badge-danger" style="font-size: 13px;">{{ booking.status }}</span>
            </td>
            <td>
              <div>
                <button id="accept" data-toggle="tooltip" data-placement="bottom" title="APPROVE"
                  [ngStyle]="{'background-color': booking.isDisabled ? '#24c57b' : '#019453'}"
                  (click)="acceptClick(booking)" [disabled]="booking.isDisabled">
                  <i class="fas fa-calendar-check"></i>
                </button>
                <button id="reject" data-toggle="tooltip" data-placement="bottom" title="REJECT"
                  [ngStyle]="{'background-color': booking.isDisabled ? '#ff5555' : '#cc0201'}"
                  (click)="rejectClick(booking)" [disabled]="booking.isDisabled">
                  <i class="fas fa-calendar-times"></i>
                </button>
                <button id="same-time" data-toggle="tooltip" data-placement="bottom" title="List book at the same time"
                  (click)="getBookingSameTime(booking)">
                  <i class="fas fa-calendar-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <img *ngIf="listbooking.length == 0"
        src="https://cdn.dribbble.com/users/1449854/screenshots/4136663/no_data_found.png" class="cangiua">
    </div>
    <div class="d-flex justify-content-end p-3">
      <!-- <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination> -->
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="1"
        (pageChange)="displayDataFromDate()">
      </ngb-pagination>
    </div>
  </div>
</div>

<!-- Hết nội dung -->