<footer class="footer">
  <div class="container-fluid clearfix" style="text-align: center;">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
      2019
      <a href="https://cmcglobal.com.vn" target="_blank">CMC Global </a><i class="mdi mdi-heart text-danger"></i></span>
    <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
      >Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
    </span> -->
  </div>
</footer>