/* You can add global styles to this file, and also import other style files */
/* @import "assets/vendor/fontawesome-free/css/all.min.css";
@import "assets/css/sb-admin-2.min.css"; */
@import "assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css";
@import "assets/vendors/iconfonts/ionicons/css/ionicons.css";
@import "assets/vendors/iconfonts/typicons/src/font/typicons.css";
@import "assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css";
@import "assets/vendors/css/vendor.bundle.base.css";
@import "assets/vendors/css/vendor.bundle.addons.css";

@import "assets/css/shared/style.css";
@import "assets/css/demo_1/style.css";
/* @import "assets/images/favicon.png"; */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 14px;
}

.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: #c7c7c7;
}
.k-loading-mask{
  z-index: 999999 !important;
}