@media only screen and (max-width: 760px) {
    .header {
        height: 100px;
        min-height: fit-content;
        padding: 0px 2.14em;
        background-color: white;
        text-align: center;
    }
    .space {
        visibility: hidden;
        margin: 0px;
        height: 0px;
    }
    .users .username {
        visibility: hidden;
    }
    .logo {
        height: 80px;
        border-bottom: 1px solid #D8DCE6;
    }
    .users {
        float: right;
        text-align: center;
    }
    .header-search {
        float: left;
    }
    .header-search .icon {
        margin-top: 16px;
        float: left;
        font-size: large;
        color: #D8DCE6;
        line-height: normal;
        /* margin-top: 0.9em; */
    }
    .header-search .search {
        height: 40px;
        padding: 0px 35px;
    }
    .btn_login {
        float: right;
        text-align: center;
    }
    .profile {
        height: 130px;
        text-align: center;
    }
    .contentTemplate button {
        padding: 0px 5px;
        height: 33px;
        background-color: white;
        width: 100%;
        text-align: left;
        border: none;
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        height: 5.72em;
        padding: 0px 2.14em;
        background-color: white;
        border-bottom: 1px solid #eaedf3;
        min-width: 1px;
        line-height: 5.72em;
        text-align: center;
    }
    .space {
        width: 1px;
        height: 2em;
        margin: 2em 2em;
        background-color: #eaedf3;
        float: left;
    }
    .logo {
        float: left;
    }
    .header-search {
        list-style: none;
        text-align: center;
        float: left;
    }
    .header-search .icon {
        float: left;
        font-size: x-large;
        color: #D8DCE6;
        line-height: normal;
        margin-top: 0.9em;
    }
    .header-search .search {
        height: 40px;
        padding: 0px 35px;
    }
    .users {
        float: right;
        text-align: center;
    }
    .btn_login {
        float: right;
        text-align: center;
    }
    .users .username {
        float: left;
        text-align: center;
        margin-right: 10px;
        margin-top: 30px;
    }
    .profile {
        height: 130px;
        text-align: center;
    }
    .contentTemplate button {
        padding: 0px 5px;
        height: 33px;
        background-color: white;
        width: 100%;
        text-align: left;
        border: none;
        font-size: 15px;
    }
}