<nz-layout>
  <nz-header class="header nz-row">
    <div class="logo" nz-col nzXs="24" nzSm="4" nzMd="4" nzLg="3" nzXl="3">
      <a href="/home">
        <img src="http://meeting.cmcglobal.com.vn/global.png">
      </a>
    </div>
    <div class="space"></div>
    <ng-container *ngIf="userClient">
      <div class="users">
        <nz-avatar nzSize="large" nzIcon="user" nzSrc="{{avatarUrl}}" style="border:1px solid #D8DCE6; cursor: pointer"
          nz-popover [nzTitle]="nzTitle" [nzContent]="contentTemplate" nzPlacement="bottomRight" [(nzVisible)]="visible"
          (nzVisibleChange)="change($event)" nzTrigger="click">
        </nz-avatar>
        <div class="username">
          <h5>Hi, {{userClient.fullname|splitUserName}}</h5>
        </div>

      </div>
      <ng-template #contentTemplate>
        <div class="contentTemplate">
          <a [routerLink]="['/user-profile']">
            <button>
              <i nz-icon nzType="profile" nzSize="small"
                style="margin-right: 5px; vertical-align: 0.1em; color: grey"></i>
              <span>My Profile</span>
            </button>
          </a>
          <a *ngIf ="isRole==true" [routerLink]="['../admin/dashboard']">
            <button>
              <i nz-icon nzType="dashboard" nzSize="small"
                style="margin-right: 5px; vertical-align: 0.1em; color: grey"></i>
              <span>CMS</span>
            </button>
          </a>
          <a routerLink="../login">
            <button (click)="logout()">
              <i nz-icon nzSize="small" nzType="logout"
                style="margin-right: 5px; vertical-align: 0.1em; color: grey"></i>
              <span>Sign Out</span>
            </button>
          </a>
        </div>
      </ng-template>
      <ng-template #nzTitle>
        <div class="profile">
          <nz-avatar nzSize="large" nzIcon="user" nzSrc="{{avatarUrl}}"
            style="border:1px solid #D8DCE6; margin: 25px 0px 8px 0px;">
          </nz-avatar>
          <h5>{{userClient.fullname}}</h5>
          <h6 style="color: grey; font-size: 12px">{{userClient.mail}}</h6>
        </div>
      </ng-template>
    </ng-container>
    <div class="header-search" nz-col nzXs="18" nzSm="10" nzMd="10" nzLg="12" nzXl="12">
      <div class="icon">
        <i nz-icon nzType="search"></i>
      </div>
      <div class="search">
        <input nz-input type="search" autocomplete="off" placeholder="Search..." style="border-style: unset" />
      </div>
    </div>
  </nz-header>
</nz-layout>
