<div class="col-md-12 col-sm-12 col-xs-12">
  <h4>
    Add Post
    <!-- <small> Booking Room</small> -->
  </h4>
</div>

<div style="margin-top: 10px;" class="card mb-4">
  <div class="card-body">
    <form id="form-add" class="forms-sample" enctype="multipart/form-data" #formAddPost="ngForm" accept-charset="UTF-8"
      novalidate>
      <div class="form-group">
        <label style="font-weight: bold" for="exampleInputName1">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="post.title" #txtTitle="ngModel" name="title"
          (keyup)="validate('title','alert-title')" (blur)="validate('title','alert-title')" required>
        <div id="alert-title" class="invalid-feedback"></div>
      </div>

      <!-- <div class="form-group">
          <label style="font-weight: bold" for="exampleInputName1">Image</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="post.image" name="name" required
            (keyup)="validate('name','alert-name')" (blur)="validate('name','alert-name')">
          <div id="alert-name" class="invalid-feedback"></div>
        </div> -->

      <div class="form-group">
        <label style="font-weight: bold" for="exampleFormControlSelect1">Status</label>
        <div class="form-group row text-center">
          <div class="custom-control custom-radio col-6">
            <input type="radio" class="custom-control-input" id="defaultInline1" name="status" value="ACTIVE">
            <label style="line-height: unset;" class="custom-control-label" for="defaultInline1">Active</label>
          </div>
          <div class="custom-control custom-radio col-6">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="status" value="INACTIVE">
            <label style="line-height: unset;" class="custom-control-label" for="defaultInline2">Inactive</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label style="font-weight: bold" for="exampleTextarea1">Brief</label>
        <textarea class="form-control" id="brief" rows="3" [(ngModel)]="post.brief" name="brief"
          (keyup)="validate('brief','alert-brief')" (blur)="validate('brief','alert-brief')" required></textarea>
        <div id="alert-brief" class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label style="font-weight: bold" for="exampleTextarea1">Content</label>
        <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
          <ckeditor [(ngModel)]="post.content" #myckeditor="ngModel" name="content" required [config]="ckeConfig"
            debounce="600" (change)="onChange($event)">
          </ckeditor>
          <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block"
            style="color: #DC3545; font-size: 11.2px;">Không bỏ trống trường này</div>
        </div>
      </div>

      <button id="add-accept" type="submit" class="btn btn-primary" (click)="addPost(formAddPost)"
        [disabled]="formAddPost.invalid"> <i class="fa fa-plus"></i>Add</button>
    </form>
  </div>
</div>
<!-- <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
  <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
    <ckeditor [(ngModel)]="mycontent" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig"
      debounce="500" (change)="onChange($event)">
    </ckeditor>
    <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
  </div>
  <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button>
</form>
<div [innerHTML]="mycontent"></div> -->