<p th:text="${'Dear, ' + user.fullname}"></p>
<p th:text="${'Yêu cầu đặt phòng ' + room.name + ' đã được ' + admin.fullname + 'duyệt.' }"></p>
<p th:text="${'Trạng thái đặt booking:' + status}"></p>
<p th:text="${rejectReason}"></p>