<!DOCTYPE html>
<html lang="en">
<head>
<title>Sending Email</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
}

h3 {
	color: white;
	text-decoration: none;
	margin-left: -14px;
	margin-bottom: 10px;
}

p {
	text-align: center;
}

.avatar {
	
}

.small, small {
	margin-top: 10px;
	font-size: 13px;
	margin-left: 165px;
	text-align: center;
	color: white;
}
</style>
</head>
<body>

	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="600" style="border-collapse: collapse;">

		<!--<tr>
		<td align="center" bgcolor="#299be4" style="padding: 8px 0 5px 5px;">
			<p>
				<img src="https://static2.clutch.co/s3fs-public/logos/logo_cmc_global.jpg" style="height: 83px;" class="avatar" alt="Avatar" >
				<br>
				<h3>CMC Global </h3>
			</p>
		</td>
	</tr>-->

		<tr>
			<td style="padding: 40px 3px 40px 3px;">
				<p th:text="${'Dear ' + user.fullname}"></p>
				<p>
					You've requested to reset your password.<br>
					<a th:href="${resetUrl}"> Click here to reset your password.</a>-->
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 8px 3px 8px 3px;"><small>CMC Global
					© 2019. All Rights Reserved.</small></td>
		</tr>
	</table>

	<script type="text/javascript" src="vendor/bootstrap.js"></script>
	<script type="text/javascript" src="vendor/angular-1.5.min.js"></script>
	<script type="text/javascript" src="vendor/angular-animate.min.js"></script>
	<script type="text/javascript" src="vendor/angular-aria.min.js"></script>
	<script type="text/javascript" src="vendor/angular-messages.min.js"></script>
	<script type="text/javascript" src="vendor/angular-material.min.js"></script>
	<script type="text/javascript" src="1.js"></script>
</body>
</html>